.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  width: 100%;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-6);
  justify-content: space-around;
}

.example {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  min-width: 300px;
}

.example h4 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);
  margin: 0;
  color: var(--text-2);
  text-align: center;
}

.calendarWrapper {
  background-color: var(--surface-1);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  padding: var(--size-2);
}

.calendar {
  width: 100%;
}
