.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.demo {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  width: 100%;
}

.inlineCommand {
  width: 100%;
  border: var(--border-size-1) solid var(--color-surface-3);
  border-radius: var(--radius-3);
  overflow: hidden;
}

.commandInline {
  max-height: 400px;
}

.dialogDemo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dialogTrigger {
  font-size: var(--font-size-1);
}

.icon {
  width: var(--size-4);
  height: var(--size-4);
  margin-right: var(--size-2);
  color: var(--color-text-2);
}
