.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--size-4) 0;
}

.dialogContent {
  max-width: 450px;
  width: 90vw;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  margin: var(--size-4) 0;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
