.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  width: 100%;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-4);
  border: var(--border-size-1) dashed var(--surface-3);
  border-radius: var(--radius-3);
}

.navigationDemo {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.listItem {
  margin-bottom: var(--size-2);
}

.contentItem {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-4);
}

.contentHeader {
  margin-bottom: var(--size-2);
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-4);
  padding: var(--size-4);
  width: 550px;
}

.contentFullWidth {
  padding: var(--size-4);
  width: 600px;
}

.contentList {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.link {
  display: block;
  padding: var(--size-3);
  border-radius: var(--radius-2);
  font-size: var(--font-size-2);
  transition: background-color 0.2s ease;
  text-decoration: none;
  color: var(--text-1);
}

.link:hover {
  background-color: var(--surface-2);
  color: var(--brand);
}

.callout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--size-2);
  padding: var(--size-4);
  border-radius: var(--radius-2);
  background-color: var(--brand-a2);
  border: var(--border-size-1) solid var(--brand-a3);
}

.calloutTitle {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
  color: var(--brand);
  margin: 0;
}

.calloutDescription {
  font-size: var(--font-size-1);
  color: var(--text-1);
  margin: 0;
}

.icon {
  width: var(--size-4);
  height: var(--size-4);
  margin-right: var(--size-2);
  opacity: 0.7;
}

.bigIcon {
  width: var(--size-10);
  height: var(--size-10);
  margin-bottom: var(--size-2);
  color: var(--brand);
}

.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--size-4);
  border-radius: var(--radius-2);
  background-color: var(--surface-2);
  transition: background-color 0.2s;
}

.featureCard:hover {
  background-color: var(--surface-3);
}

.featureTitle {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
  margin: var(--size-2) 0;
}

.featureDescription {
  font-size: var(--font-size-1);
  color: var(--text-2);
  margin: 0;
}

@media (max-width: 768px) {
  .contentGrid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .contentFullWidth {
    width: 100%;
  }
}
