.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--layer-5);
  background: color-mix(in srgb, var(--color-base-bg-app) 80%, transparent);
}

.content {
  position: fixed;
  inset-inline: 0;
  bottom: 0;
  z-index: var(--layer-5);
  margin-top: var(--size-24);
  display: flex;
  height: auto;
  flex-direction: column;
  border-radius: var(--radius-3) var(--radius-3) 0 0;
  border: var(--border-size-1) solid var(--color-base-border-subtle);
  background: var(--color-base-bg);
  color: var(--color-base-text);
}

.handle {
  margin: var(--space-1) auto;
  height: var(--size-1);
  width: var(--size-12);
  border-radius: var(--radius-round);
  background: var(--color-base-border);
  cursor: row-resize;
}

.handle:hover {
  background: var(--color-base-border-hover);
}

.header {
  display: grid;
  gap: var(--space-0-5);
  padding: var(--space-2) 0;
  text-align: left;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-1);
  padding-block-end: var(--space-4);
  padding-block-start: var(--space-2);
}

.title {
}

.description {
}
