.item {
  display: grid;
  gap: var(--size-2);
}

.label {
  color: var(--text-1);
}

.labelError {
  color: var(--red-9);
}

.description {
  font-size: var(--font-size-2);
  color: var(--text-2);
}

.message {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-5);
  color: var(--red-9);
}
