.root {
  height: var(--size-4);
  width: var(--size-4);
  flex-shrink: 0;
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--color-brand-1);
  background: var(--color-surface-1);
}

.root:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-surface-1), 0 0 0 4px var(--color-surface-4);
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.root[data-state="checked"] {
  background: var(--color-brand-1);
  color: var(--color-surface-1);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

.icon {
  height: var(--size-4);
  width: var(--size-4);
}
