/* This file contains light and dark colors palettes. */

:where(html) {
  --gray-1: oklch(99.089% 0 none);
  --gray-2: oklch(98.1% 0 none);
  --gray-3: oklch(95.347% 0 none);
  --gray-4: oklch(92.961% 0 none);
  --gray-5: oklch(90.792% 0 none);
  --gray-6: oklch(88.376% 0 none);
  --gray-7: oklch(85.075% 0 none);
  --gray-8: oklch(79.1% 0 none);
  --gray-9: oklch(64.346% 0 none);
  --gray-10: oklch(60.851% 0 none);
  --gray-11: oklch(50.309% 0 none);
  --gray-12: oklch(24.301% 0 none);
  --gray-13: white;

  --mauve-1: oklch(99.185% 0.00181 321.13);
  --mauve-2: oklch(98.325% 0.00327 311.22);
  --mauve-3: oklch(95.555% 0.00592 314.24);
  --mauve-4: oklch(93.155% 0.0078 310.01);
  --mauve-5: oklch(90.904% 0.01008 306.61);
  --mauve-6: oklch(88.6% 0.01158 303.95);
  --mauve-7: oklch(85.361% 0.01426 300.59);
  --mauve-8: oklch(79.357% 0.01931 293.52);
  --mauve-9: oklch(64.579% 0.01946 292.62);
  --mauve-10: oklch(61.059% 0.0185 293.07);
  --mauve-11: oklch(50.476% 0.01599 296.08);
  --mauve-12: oklch(24.461% 0.0134 298.05);
  --mauve-13: white;

  --slate-1: oklch(99.12% 0.00148 286.37);
  --slate-2: oklch(98.239% 0.00296 286.35);
  --slate-3: oklch(95.574% 0.00448 281.88);
  --slate-4: oklch(93.144% 0.00601 282.96);
  --slate-5: oklch(91.009% 0.00755 283.59);
  --slate-6: oklch(88.762% 0.00913 281.79);
  --slate-7: oklch(85.336% 0.01155 280.85);
  --slate-8: oklch(79.387% 0.01577 278.12);
  --slate-9: oklch(64.557% 0.01621 277.83);
  --slate-10: oklch(60.975% 0.01583 273.24);
  --slate-11: oklch(50.265% 0.01374 263.44);
  --slate-12: oklch(24.125% 0.00978 249.52);
  --slate-13: white;

  --sage-1: oklch(99.233% 0.00254 160.4);
  --sage-2: oklch(98.078% 0.00266 171.2);
  --sage-3: oklch(95.505% 0.00346 170.38);
  --sage-4: oklch(93.119% 0.00349 170.38);
  --sage-5: oklch(90.922% 0.00399 167.67);
  --sage-6: oklch(88.507% 0.00402 167.67);
  --sage-7: oklch(85.107% 0.00438 169.85);
  --sage-8: oklch(79.24% 0.00528 169.48);
  --sage-9: oklch(63.926% 0.01041 172.38);
  --sage-10: oklch(60.481% 0.00968 172.84);
  --sage-11: oklch(50.074% 0.00777 175.92);
  --sage-12: oklch(23.977% 0.01214 166.78);
  --sage-13: white;

  --olive-1: oklch(99.305% 0.00152 149.08);
  --olive-2: oklch(98.297% 0.00332 144.76);
  --olive-3: oklch(95.615% 0.00365 141.14);
  --olive-4: oklch(93.201% 0.00418 142.11);
  --olive-5: oklch(90.948% 0.00452 139.33);
  --olive-6: oklch(88.551% 0.00558 141.14);
  --olive-7: oklch(85.174% 0.00563 141.14);
  --olive-8: oklch(79.211% 0.00712 140.55);
  --olive-9: oklch(64.04% 0.01148 136.53);
  --olive-10: oklch(60.541% 0.01165 136.54);
  --olive-11: oklch(50.012% 0.0111 139.89);
  --olive-12: oklch(24.186% 0.01119 138.23);
  --olive-13: white;

  --sand-1: oklch(99.37% 0.00111 106.42);
  --sand-2: oklch(98.221% 0.00148 106.43);
  --sand-3: oklch(95.552% 0.00226 97.614);
  --sand-4: oklch(93.22% 0.00339 100.56);
  --sand-5: oklch(90.99% 0.00383 95.909);
  --sand-6: oklch(88.551% 0.00497 98.337);
  --sand-7: oklch(85.251% 0.00621 96.604);
  --sand-8: oklch(79.182% 0.0083 96.497);
  --sand-9: oklch(64.134% 0.01026 106.69);
  --sand-10: oklch(60.567% 0.00958 106.68);
  --sand-11: oklch(49.786% 0.00787 106.68);
  --sand-12: oklch(24.344% 0.00793 96.313);
  --sand-13: white;

  --tomato-1: oklch(99.351% 0.00311 22.753);
  --tomato-2: oklch(98.419% 0.00713 31.019);
  --tomato-3: oklch(95.443% 0.02202 30.883);
  --tomato-4: oklch(92.599% 0.04713 31.759);
  --tomato-5: oklch(89.214% 0.06263 31.488);
  --tomato-6: oklch(85.244% 0.07698 32.012);
  --tomato-7: oklch(80.279% 0.09425 32.172);
  --tomato-8: oklch(74.147% 0.11823 32.072);
  --tomato-9: oklch(62.697% 0.19372 33.308);
  --tomato-10: oklch(60.397% 0.19525 33.259);
  --tomato-11: oklch(56.654% 0.19765 32.806);
  --tomato-12: oklch(34.613% 0.07983 30.526);
  --tomato-13: white;

  --red-1: oklch(99.351% 0.00311 22.753);
  --red-2: oklch(98.317% 0.00828 16.025);
  --red-3: oklch(95.611% 0.02097 16.228);
  --red-4: oklch(92.81% 0.04728 16.682);
  --red-5: oklch(89.612% 0.06198 17.328);
  --red-6: oklch(85.7% 0.07462 17.868);
  --red-7: oklch(80.722% 0.08945 18.445);
  --red-8: oklch(74.498% 0.11326 19.089);
  --red-9: oklch(62.544% 0.19347 22.983);
  --red-10: oklch(59.99% 0.19524 23.889);
  --red-11: oklch(55.725% 0.19775 25.135);
  --red-12: oklch(33.913% 0.10904 16.681);
  --red-13: white;

  --ruby-1: oklch(99.382% 0.00329 356.31);
  --ruby-2: oklch(98.341% 0.00836 8.4106);
  --ruby-3: oklch(95.358% 0.02225 8.5633);
  --ruby-4: oklch(92.796% 0.04227 8.4646);
  --ruby-5: oklch(89.637% 0.05484 8.1649);
  --ruby-6: oklch(85.805% 0.06602 7.8407);
  --ruby-7: oklch(81.012% 0.07969 7.4866);
  --ruby-8: oklch(74.882% 0.10138 6.8609);
  --ruby-9: oklch(62.844% 0.19502 13.192);
  --ruby-10: oklch(60.131% 0.19617 13.393);
  --ruby-11: oklch(54.888% 0.19854 13.924);
  --ruby-12: oklch(34.12% 0.10967 10.038);
  --ruby-13: white;

  --crimson-1: oklch(99.382% 0.00329 356.31);
  --crimson-2: oklch(98.176% 0.00804 357.23);
  --crimson-3: oklch(95.414% 0.02608 356.27);
  --crimson-4: oklch(92.52% 0.04111 356.3);
  --crimson-5: oklch(89.279% 0.05366 355.77);
  --crimson-6: oklch(85.501% 0.06459 355.57);
  --crimson-7: oklch(80.779% 0.07839 354.8);
  --crimson-8: oklch(74.996% 0.09882 354.12);
  --crimson-9: oklch(63.429% 0.21303 1.3038);
  --crimson-10: oklch(60.799% 0.21112 2.3553);
  --crimson-11: oklch(55.209% 0.20742 4.4871);
  --crimson-12: oklch(34.079% 0.11285 356.83);
  --crimson-13: white;

  --pink-1: oklch(99.414% 0.00404 336.25);
  --pink-2: oklch(98.315% 0.00942 339.97);
  --pink-3: oklch(95.429% 0.02748 340.64);
  --pink-4: oklch(92.507% 0.04165 340.66);
  --pink-5: oklch(89.312% 0.05425 340.86);
  --pink-6: oklch(85.541% 0.06686 340.9);
  --pink-7: oklch(80.909% 0.08334 341.21);
  --pink-8: oklch(75.17% 0.10674 341.63);
  --pink-9: oklch(61.67% 0.20767 346.05);
  --pink-10: oklch(59.566% 0.20722 346.5);
  --pink-11: oklch(55.664% 0.20628 347.33);
  --pink-12: oklch(34.999% 0.12899 345.45);
  --pink-13: white;

  --plum-1: oklch(99.326% 0.00473 316.87);
  --plum-2: oklch(98.313% 0.00917 325.99);
  --plum-3: oklch(95.686% 0.02743 325.49);
  --plum-4: oklch(92.923% 0.0436 324.87);
  --plum-5: oklch(89.849% 0.05743 324.37);
  --plum-6: oklch(86.032% 0.07234 323.91);
  --plum-7: oklch(80.918% 0.09146 323.15);
  --plum-8: oklch(74.181% 0.11999 321.88);
  --plum-9: oklch(57.891% 0.18773 322.09);
  --plum-10: oklch(55.267% 0.18095 322.1);
  --plum-11: oklch(52.13% 0.17283 322.02);
  --plum-12: oklch(33.764% 0.12484 321.41);
  --plum-13: white;

  --purple-1: oklch(99.302% 0.00382 325.35);
  --purple-2: oklch(98.228% 0.00915 313.12);
  --purple-3: oklch(95.906% 0.02427 313.27);
  --purple-4: oklch(93.28% 0.03875 312.06);
  --purple-5: oklch(90.066% 0.05393 311.57);
  --purple-6: oklch(85.959% 0.07058 311.03);
  --purple-7: oklch(80.405% 0.09279 309.93);
  --purple-8: oklch(73.309% 0.1227 307.97);
  --purple-9: oklch(55.547% 0.18299 305.88);
  --purple-10: oklch(52.422% 0.17558 305.69);
  --purple-11: oklch(51.603% 0.17396 305.7);
  --purple-12: oklch(32.231% 0.11005 303.8);
  --purple-13: white;

  --violet-1: oklch(99.208% 0.00279 308.03);
  --violet-2: oklch(98.3% 0.00899 295.04);
  --violet-3: oklch(96.276% 0.01893 296.58);
  --violet-4: oklch(93.396% 0.03916 295.38);
  --violet-5: oklch(90.394% 0.05689 294.12);
  --violet-6: oklch(86.408% 0.07246 293.86);
  --violet-7: oklch(80.647% 0.09024 293.47);
  --violet-8: oklch(72.908% 0.11897 292.43);
  --violet-9: oklch(54.177% 0.17889 288.1);
  --violet-10: oklch(51.071% 0.17697 287.64);
  --violet-11: oklch(50.802% 0.15914 288.59);
  --violet-12: oklch(31.271% 0.09752 286.76);
  --violet-13: white;

  --iris-1: oklch(99.448% 0.00258 286.35);
  --iris-2: oklch(98.125% 0.00926 284.1);
  --iris-3: oklch(96.145% 0.01751 283.8);
  --iris-4: oklch(93.511% 0.0353 283.44);
  --iris-5: oklch(90.445% 0.05261 283.77);
  --iris-6: oklch(86.458% 0.06963 283.11);
  --iris-7: oklch(80.792% 0.0885 282.85);
  --iris-8: oklch(72.917% 0.11828 281.48);
  --iris-9: oklch(54.031% 0.18392 278.3);
  --iris-10: oklch(50.863% 0.18622 277.49);
  --iris-11: oklch(51.044% 0.17334 279.69);
  --iris-12: oklch(31.453% 0.09886 277.36);
  --iris-13: white;

  --indigo-1: oklch(99.424% 0.00147 286.37);
  --indigo-2: oklch(98.29% 0.00803 271.38);
  --indigo-3: oklch(96.072% 0.01716 268.55);
  --indigo-4: oklch(93.528% 0.0338 268.49);
  --indigo-5: oklch(90.322% 0.05114 269.98);
  --indigo-6: oklch(86.296% 0.0714 271.51);
  --indigo-7: oklch(80.681% 0.08688 271.37);
  --indigo-8: oklch(73.005% 0.11328 270.52);
  --indigo-9: oklch(54.362% 0.19117 267.08);
  --indigo-10: oklch(51.121% 0.19455 266.48);
  --indigo-11: oklch(50.972% 0.17281 267.11);
  --indigo-12: oklch(31.257% 0.08559 268.56);
  --indigo-13: white;

  --blue-1: oklch(99.319% 0.00329 247.64);
  --blue-2: oklch(98.15% 0.00955 243.26);
  --blue-3: oklch(96.003% 0.01987 236.71);
  --blue-4: oklch(93.735% 0.03707 239.03);
  --blue-5: oklch(90.601% 0.05348 242.8);
  --blue-6: oklch(86.384% 0.06859 243.18);
  --blue-7: oklch(80.918% 0.08841 243.34);
  --blue-8: oklch(73.484% 0.1211 243);
  --blue-9: oklch(64.932% 0.19304 251.81);
  --blue-10: oklch(62.113% 0.18373 251.92);
  --blue-11: oklch(55.774% 0.1889 253.01);
  --blue-12: oklch(32.397% 0.0965 258.96);
  --blue-13: white;

  --cyan-1: oklch(99.211% 0.00372 219.25);
  --cyan-2: oklch(98.028% 0.00896 202.89);
  --cyan-3: oklch(95.814% 0.02648 203.61);
  --cyan-4: oklch(93.194% 0.04125 204.74);
  --cyan-5: oklch(89.977% 0.05379 206.49);
  --cyan-6: oklch(85.935% 0.06601 207.67);
  --cyan-7: oklch(80.454% 0.08166 209.58);
  --cyan-8: oklch(72.699% 0.10988 211.67);
  --cyan-9: oklch(66.093% 0.12154 221.49);
  --cyan-10: oklch(62.672% 0.1141 221.32);
  --cyan-11: oklch(54.031% 0.12699 223.72);
  --cyan-12: oklch(33.168% 0.05277 218.57);
  --cyan-13: white;

  --teal-1: oklch(99.388% 0.0047 177.55);
  --teal-2: oklch(98.122% 0.00898 179);
  --teal-3: oklch(96.061% 0.02699 180.32);
  --teal-4: oklch(93.464% 0.04183 180.22);
  --teal-5: oklch(90.038% 0.05414 180.5);
  --teal-6: oklch(85.584% 0.06422 181.42);
  --teal-7: oklch(79.739% 0.07629 182.21);
  --teal-8: oklch(72.113% 0.09715 183.46);
  --teal-9: oklch(64.881% 0.11345 182.01);
  --teal-10: oklch(61.947% 0.10958 181.2);
  --teal-11: oklch(52.959% 0.12432 179.04);
  --teal-12: oklch(32.688% 0.05042 185.02);
  --teal-13: white;

  --jade-1: oklch(99.452% 0.00374 172.63);
  --jade-2: oklch(98.152% 0.00892 160.3);
  --jade-3: oklch(95.962% 0.0221 161.88);
  --jade-4: oklch(93.39% 0.03401 163.54);
  --jade-5: oklch(90.191% 0.04617 164.78);
  --jade-6: oklch(85.921% 0.05916 166.88);
  --jade-7: oklch(80.027% 0.07693 169.53);
  --jade-8: oklch(72.092% 0.10265 173.37);
  --jade-9: oklch(64.206% 0.115 170.85);
  --jade-10: oklch(61.341% 0.1099 170.61);
  --jade-11: oklch(52.889% 0.127 167.17);
  --jade-12: oklch(32.569% 0.04102 169.78);
  --jade-13: white;

  --green-1: oklch(99.429% 0.00431 159.06);
  --green-2: oklch(98.158% 0.00911 155.31);
  --green-3: oklch(95.88% 0.02293 156.38);
  --green-4: oklch(93.255% 0.03641 156.6);
  --green-5: oklch(89.952% 0.04963 157.22);
  --green-6: oklch(85.7% 0.0645 157.89);
  --green-7: oklch(79.773% 0.08388 159.02);
  --green-8: oklch(71.436% 0.1124 160.6);
  --green-9: oklch(64.049% 0.13274 157.75);
  --green-10: oklch(61.125% 0.12632 158.31);
  --green-11: oklch(52.904% 0.13304 158.33);
  --green-12: oklch(32.176% 0.04742 164.62);
  --green-13: white;

  --grass-1: oklch(99.398% 0.00534 146.39);
  --grass-2: oklch(98.198% 0.00919 145.93);
  --grass-3: oklch(96.076% 0.02314 145.27);
  --grass-4: oklch(93.416% 0.03696 146.18);
  --grass-5: oklch(90.126% 0.05291 146.35);
  --grass-6: oklch(85.778% 0.07137 146.83);
  --grass-7: oklch(79.845% 0.09499 147.47);
  --grass-8: oklch(71.645% 0.13002 148.35);
  --grass-9: oklch(65.158% 0.14685 147.37);
  --grass-10: oklch(61.378% 0.14158 147.32);
  --grass-11: oklch(52.675% 0.12962 147.18);
  --grass-12: oklch(32.683% 0.05348 148.58);
  --grass-13: white;

  --brown-1: oklch(99.434% 0.0015 63.24);
  --brown-2: oklch(98.321% 0.0058 65.735);
  --brown-3: oklch(95.414% 0.01277 67.815);
  --brown-4: oklch(92.614% 0.02028 66.854);
  --brown-5: oklch(89.686% 0.02865 65.788);
  --brown-6: oklch(86.243% 0.03903 65.465);
  --brown-7: oklch(81.528% 0.05312 64.22);
  --brown-8: oklch(74.671% 0.07166 62.448);
  --brown-9: oklch(63.268% 0.07843 60.775);
  --brown-10: oklch(59.673% 0.0725 59.281);
  --brown-11: oklch(51.207% 0.05834 55.458);
  --brown-12: oklch(33.155% 0.01804 46.975);
  --brown-13: white;

  --bronze-1: oklch(99.154% 0.00103 15.916);
  --bronze-2: oklch(98.062% 0.00733 42.988);
  --bronze-3: oklch(95.28% 0.01023 44.264);
  --bronze-4: oklch(92.525% 0.0138 43.573);
  --bronze-5: oklch(89.541% 0.01777 42.643);
  --bronze-6: oklch(85.994% 0.02252 43.401);
  --bronze-7: oklch(81.129% 0.0295 41.939);
  --bronze-8: oklch(74.183% 0.03875 41.183);
  --bronze-9: oklch(62.746% 0.04601 44.292);
  --bronze-10: oklch(58.796% 0.04519 42.443);
  --bronze-11: oklch(51.049% 0.04372 38.366);
  --bronze-12: oklch(32.923% 0.02932 35.241);
  --bronze-13: white;

  --gold-1: oklch(99.37% 0.00111 106.42);
  --gold-2: oklch(98.085% 0.00859 97.335);
  --gold-3: oklch(95.337% 0.01175 94.694);
  --gold-4: oklch(92.571% 0.01497 93.176);
  --gold-5: oklch(89.581% 0.01915 90.725);
  --gold-6: oklch(85.964% 0.02475 88.384);
  --gold-7: oklch(81.014% 0.03172 83.41);
  --gold-8: oklch(73.863% 0.0422 78.17);
  --gold-9: oklch(62.058% 0.04928 78.132);
  --gold-10: oklch(58.774% 0.04655 77.42);
  --gold-11: oklch(50.388% 0.03934 78.1);
  --gold-12: oklch(33.208% 0.01894 81.666);
  --gold-13: white;

  --sky-1: oklch(99.332% 0.00533 211.91);
  --sky-2: oklch(97.986% 0.00993 217.67);
  --sky-3: oklch(96.055% 0.02383 219.58);
  --sky-4: oklch(93.559% 0.03559 220.39);
  --sky-5: oklch(90.281% 0.04654 221.37);
  --sky-6: oklch(86.103% 0.05767 222.87);
  --sky-7: oklch(80.578% 0.07171 225.65);
  --sky-8: oklch(72.938% 0.09622 227.98);
  --sky-9: oklch(86.137% 0.10269 217.81);
  --sky-10: oklch(83.765% 0.10373 219.57);
  --sky-11: oklch(52.564% 0.10803 232.54);
  --sky-12: oklch(35.114% 0.05723 241.61);
  --sky-13: black;

  --mint-1: oklch(99.278% 0.00526 183.68);
  --mint-2: oklch(98.204% 0.01007 178.66);
  --mint-3: oklch(95.953% 0.02992 179.57);
  --mint-4: oklch(93.301% 0.04698 178.98);
  --mint-5: oklch(89.944% 0.06083 178.72);
  --mint-6: oklch(85.594% 0.0719 178.68);
  --mint-7: oklch(79.789% 0.08485 178.22);
  --mint-8: oklch(72.204% 0.10658 177.69);
  --mint-9: oklch(86.962% 0.09985 177.97);
  --mint-10: oklch(84.116% 0.09975 177.77);
  --mint-11: oklch(51.176% 0.09498 176.02);
  --mint-12: oklch(34.97% 0.05054 181.44);
  --mint-13: black;

  --lime-1: oklch(99.243% 0.00419 120.67);
  --lime-2: oklch(98.173% 0.00978 116.7);
  --lime-3: oklch(95.942% 0.04332 119.1);
  --lime-4: oklch(93.207% 0.06888 120.38);
  --lime-5: oklch(89.736% 0.08702 121.84);
  --lime-6: oklch(85.301% 0.09935 123.38);
  --lime-7: oklch(79.464% 0.11074 125.31);
  --lime-8: oklch(72.362% 0.13478 128.06);
  --lime-9: oklch(88.754% 0.17491 126.09);
  --lime-10: oklch(85.888% 0.18774 126.73);
  --lime-11: oklch(54.375% 0.11131 128.63);
  --lime-12: oklch(35.366% 0.05741 121.18);
  --lime-13: black;

  --yellow-1: oklch(99.285% 0.00516 106.49);
  --yellow-2: oklch(98.841% 0.02505 102.92);
  --yellow-3: oklch(97.402% 0.08449 104.36);
  --yellow-4: oklch(95.266% 0.11661 101.74);
  --yellow-5: oklch(92.506% 0.14087 98.203);
  --yellow-6: oklch(88.088% 0.13385 95.418);
  --yellow-7: oklch(83.552% 0.12028 92.791);
  --yellow-8: oklch(76.614% 0.13705 89.846);
  --yellow-9: oklch(92.658% 0.2086 102.14);
  --yellow-10: oklch(89.669% 0.18512 97.531);
  --yellow-11: oklch(57.442% 0.13641 81.691);
  --yellow-12: oklch(35.784% 0.046 86.635);
  --yellow-13: black;

  --amber-1: oklch(99.403% 0.00277 84.624);
  --amber-2: oklch(98.623% 0.02404 100.26);
  --amber-3: oklch(96.903% 0.06858 100.36);
  --amber-4: oklch(94.535% 0.10425 98.192);
  --amber-5: oklch(91.845% 0.13329 98.396);
  --amber-6: oklch(88.12% 0.12369 93.238);
  --amber-7: oklch(82.736% 0.122 86.175);
  --amber-8: oklch(75.82% 0.14039 76.701);
  --amber-9: oklch(85.623% 0.17784 81.37);
  --amber-10: oklch(83.146% 0.1679 80.938);
  --amber-11: oklch(56.921% 0.14389 67.281);
  --amber-12: oklch(35.19% 0.04852 53.737);
  --amber-13: black;

  --orange-1: oklch(99.216% 0.00264 40.728);
  --orange-2: oklch(97.875% 0.01536 70.826);
  --orange-3: oklch(95.76% 0.03682 78.115);
  --orange-4: oklch(92.026% 0.08107 74.156);
  --orange-5: oklch(89.043% 0.10655 70.836);
  --orange-6: oklch(85.728% 0.10996 64.427);
  --orange-7: oklch(80.526% 0.11257 59.882);
  --orange-8: oklch(74.538% 0.13211 54.819);
  --orange-9: oklch(68.902% 0.19108 44.802);
  --orange-10: oklch(66.216% 0.19444 43.486);
  --orange-11: oklch(59.187% 0.18602 46.954);
  --orange-12: oklch(35.012% 0.06868 40.823);
  --orange-13: white;
}

:where(html) {
  --dark-gray-1: oklch(17.803% 0 none);
  --dark-gray-2: oklch(21.338% 0 none);
  --dark-gray-3: oklch(25.375% 0 none);
  --dark-gray-4: oklch(28.325% 0 none);
  --dark-gray-5: oklch(31.301% 0 none);
  --dark-gray-6: oklch(34.9% 0 none);
  --dark-gray-7: oklch(40.228% 0 none);
  --dark-gray-8: oklch(48.772% 0 none);
  --dark-gray-9: oklch(53.791% 0 none);
  --dark-gray-10: oklch(58.434% 0 none);
  --dark-gray-11: oklch(77.003% 0 none);
  --dark-gray-12: oklch(94.886% 0 none);
  --dark-gray-13: white;

  --dark-mauve-1: oklch(17.989% 0.00426 307.79);
  --dark-mauve-2: oklch(21.515% 0.00408 307.84);
  --dark-mauve-3: oklch(25.502% 0.00553 306.48);
  --dark-mauve-4: oklch(28.449% 0.0076 307.75);
  --dark-mauve-5: oklch(31.383% 0.00896 306.95);
  --dark-mauve-6: oklch(35.011% 0.01007 303.98);
  --dark-mauve-7: oklch(40.156% 0.0122 304.45);
  --dark-mauve-8: oklch(49.19% 0.01593 300.74);
  --dark-mauve-9: oklch(54.047% 0.01694 293.97);
  --dark-mauve-10: oklch(58.622% 0.01666 295.36);
  --dark-mauve-11: oklch(76.976% 0.01401 296.61);
  --dark-mauve-12: oklch(94.942% 0.00261 286.35);
  --dark-mauve-13: white;

  --dark-slate-1: oklch(17.89% 0.00397 285.99);
  --dark-slate-2: oklch(21.327% 0.00408 264.41);
  --dark-slate-3: oklch(25.34% 0.00572 261.19);
  --dark-slate-4: oklch(28.268% 0.00733 259.52);
  --dark-slate-5: oklch(31.138% 0.00825 259.73);
  --dark-slate-6: oklch(34.594% 0.00992 256.52);
  --dark-slate-7: oklch(39.775% 0.01205 253.77);
  --dark-slate-8: oklch(48.994% 0.01568 247.63);
  --dark-slate-9: oklch(53.703% 0.01517 261.15);
  --dark-slate-10: oklch(58.298% 0.01416 263.32);
  --dark-slate-11: oklch(76.773% 0.01039 261.27);
  --dark-slate-12: oklch(94.877% 0.0028 264.57);
  --dark-slate-13: white;

  --dark-sage-1: oklch(17.923% 0.00359 167.38);
  --dark-sage-2: oklch(21.106% 0.00374 160.17);
  --dark-sage-3: oklch(25.123% 0.00398 164.2);
  --dark-sage-4: oklch(28.116% 0.00494 164.87);
  --dark-sage-5: oklch(31.069% 0.00521 167.44);
  --dark-sage-6: oklch(34.709% 0.00608 167.42);
  --dark-sage-7: oklch(39.919% 0.00783 167.38);
  --dark-sage-8: oklch(48.822% 0.0091 169.81);
  --dark-sage-9: oklch(53.293% 0.01754 170.77);
  --dark-sage-10: oklch(57.934% 0.01597 170.51);
  --dark-sage-11: oklch(76.605% 0.00999 167.51);
  --dark-sage-12: oklch(94.733% 0.00237 167.71);
  --dark-sage-13: white;

  --dark-olive-1: oklch(17.973% 0.00428 128.34);
  --dark-olive-2: oklch(21.166% 0.00411 128.29);
  --dark-olive-3: oklch(25.158% 0.00508 129.01);
  --dark-olive-4: oklch(28.075% 0.0056 131.44);
  --dark-olive-5: oklch(31.008% 0.00656 131.45);
  --dark-olive-6: oklch(34.64% 0.00765 134.43);
  --dark-olive-7: oklch(39.86% 0.00965 136.03);
  --dark-olive-8: oklch(48.77% 0.01237 140.78);
  --dark-olive-9: oklch(53.523% 0.01761 139.61);
  --dark-olive-10: oklch(58.124% 0.01633 140.06);
  --dark-olive-11: oklch(76.594% 0.01277 139.5);
  --dark-olive-12: oklch(94.701% 0.00336 144.76);
  --dark-olive-13: white;

  --dark-sand-1: oklch(17.756% 0.00227 106.63);
  --dark-sand-2: oklch(21.293% 0.00217 106.58);
  --dark-sand-3: oklch(25.31% 0.00311 106.62);
  --dark-sand-4: oklch(28.281% 0.00355 99.025);
  --dark-sand-5: oklch(31.238% 0.00444 100.73);
  --dark-sand-6: oklch(34.909% 0.00575 102.24);
  --dark-sand-7: oklch(40.072% 0.00703 96.104);
  --dark-sand-8: oklch(49.01% 0.0095 91.729);
  --dark-sand-9: oklch(53.457% 0.01096 94.074);
  --dark-sand-10: oklch(58.107% 0.01074 94.047);
  --dark-sand-11: oklch(76.664% 0.00914 97.383);
  --dark-sand-12: oklch(94.831% 0.00261 106.45);
  --dark-sand-13: white;

  --dark-tomato-1: oklch(18.687% 0.01173 19.587);
  --dark-tomato-2: oklch(20.768% 0.01671 32.024);
  --dark-tomato-3: oklch(25.374% 0.05435 26.944);
  --dark-tomato-4: oklch(29.111% 0.08704 28.168);
  --dark-tomato-5: oklch(33.144% 0.0971 28.663);
  --dark-tomato-6: oklch(38.007% 0.09945 30.009);
  --dark-tomato-7: oklch(44.744% 0.10676 31.456);
  --dark-tomato-8: oklch(53.782% 0.13006 32.941);
  --dark-tomato-9: oklch(62.697% 0.19372 33.308);
  --dark-tomato-10: oklch(66.503% 0.17914 34.149);
  --dark-tomato-11: oklch(78.429% 0.16357 36.019);
  --dark-tomato-12: oklch(89.855% 0.04662 31.109);
  --dark-tomato-13: white;

  --dark-red-1: oklch(18.801% 0.01333 19.389);
  --dark-red-2: oklch(20.479% 0.02152 14.735);
  --dark-red-3: oklch(25.044% 0.06428 13.106);
  --dark-red-4: oklch(28.884% 0.09587 14.289);
  --dark-red-5: oklch(33.156% 0.10657 15.532);
  --dark-red-6: oklch(38.261% 0.11135 16.929);
  --dark-red-7: oklch(45.055% 0.12062 18.91);
  --dark-red-8: oklch(54.356% 0.14651 21.437);
  --dark-red-9: oklch(62.544% 0.19347 22.983);
  --dark-red-10: oklch(66.464% 0.17734 23.092);
  --dark-red-11: oklch(78.366% 0.16185 22.288);
  --dark-red-12: oklch(90.215% 0.05283 6.1393);
  --dark-red-13: white;

  --dark-ruby-1: oklch(18.88% 0.01366 2.9041);
  --dark-ruby-2: oklch(20.765% 0.01589 5.2903);
  --dark-ruby-3: oklch(25.377% 0.0602 6.5445);
  --dark-ruby-4: oklch(29.209% 0.08885 5.5046);
  --dark-ruby-5: oklch(33.268% 0.09973 6.3983);
  --dark-ruby-6: oklch(38.201% 0.10502 7.5886);
  --dark-ruby-7: oklch(44.835% 0.11652 9.0173);
  --dark-ruby-8: oklch(54.376% 0.14536 11.058);
  --dark-ruby-9: oklch(62.844% 0.19502 13.192);
  --dark-ruby-10: oklch(66.351% 0.17935 13.693);
  --dark-ruby-11: oklch(78.614% 0.16114 17.006);
  --dark-ruby-12: oklch(90.541% 0.05266 355.83);
  --dark-ruby-13: white;

  --dark-crimson-1: oklch(18.927% 0.01431 354.17);
  --dark-crimson-2: oklch(20.679% 0.02212 352.9);
  --dark-crimson-3: oklch(25.565% 0.05948 353.88);
  --dark-crimson-4: oklch(29.306% 0.0944 354.06);
  --dark-crimson-5: oklch(33.263% 0.10445 354.75);
  --dark-crimson-6: oklch(38.179% 0.10875 355.49);
  --dark-crimson-7: oklch(45.007% 0.12002 356.71);
  --dark-crimson-8: oklch(54.192% 0.14815 358.34);
  --dark-crimson-9: oklch(63.429% 0.21303 1.3038);
  --dark-crimson-10: oklch(66.369% 0.19672 1.9508);
  --dark-crimson-11: oklch(78.737% 0.167 6.719);
  --dark-crimson-12: oklch(90.883% 0.05407 346.66);
  --dark-crimson-13: white;

  --dark-pink-1: oklch(19.067% 0.01741 334.93);
  --dark-pink-2: oklch(20.737% 0.03128 338.17);
  --dark-pink-3: oklch(26.138% 0.06116 337.46);
  --dark-pink-4: oklch(29.939% 0.09751 340.14);
  --dark-pink-5: oklch(33.801% 0.10411 340.64);
  --dark-pink-6: oklch(38.902% 0.10719 341.55);
  --dark-pink-7: oklch(45.874% 0.11926 342.62);
  --dark-pink-8: oklch(54.543% 0.14485 344.11);
  --dark-pink-9: oklch(61.67% 0.20767 346.05);
  --dark-pink-10: oklch(64.996% 0.19695 346.18);
  --dark-pink-11: oklch(78.869% 0.19004 350.74);
  --dark-pink-12: oklch(90.528% 0.05862 343.23);
  --dark-pink-13: white;

  --dark-plum-1: oklch(18.996% 0.01746 326.98);
  --dark-plum-2: oklch(21.004% 0.03106 327.68);
  --dark-plum-3: oklch(26.565% 0.06177 326.67);
  --dark-plum-4: oklch(30.652% 0.08828 325.27);
  --dark-plum-5: oklch(34.345% 0.09532 324.63);
  --dark-plum-6: oklch(38.892% 0.09702 324.2);
  --dark-plum-7: oklch(45.649% 0.10636 323.43);
  --dark-plum-8: oklch(54.508% 0.12794 322.16);
  --dark-plum-9: oklch(57.891% 0.18773 322.09);
  --dark-plum-10: oklch(61.595% 0.18207 322.12);
  --dark-plum-11: oklch(78.591% 0.15407 322.06);
  --dark-plum-12: oklch(90.616% 0.05508 325.83);
  --dark-plum-13: white;

  --dark-purple-1: oklch(19.154% 0.02222 315.98);
  --dark-purple-2: oklch(21.308% 0.03147 314.34);
  --dark-purple-3: oklch(26.633% 0.06151 312.03);
  --dark-purple-4: oklch(30.824% 0.08278 310.65);
  --dark-purple-5: oklch(34.447% 0.09137 310.13);
  --dark-purple-6: oklch(38.772% 0.09674 309.66);
  --dark-purple-7: oklch(44.961% 0.10796 308.73);
  --dark-purple-8: oklch(54.094% 0.13284 307.07);
  --dark-purple-9: oklch(55.547% 0.18299 305.88);
  --dark-purple-10: oklch(59.59% 0.17658 306.35);
  --dark-purple-11: oklch(78.511% 0.15623 307.9);
  --dark-purple-12: oklch(91.092% 0.04856 310.95);
  --dark-purple-13: white;

  --dark-violet-1: oklch(19.143% 0.02609 290.52);
  --dark-violet-2: oklch(21.128% 0.03151 299.46);
  --dark-violet-3: oklch(27.092% 0.06639 293.92);
  --dark-violet-4: oklch(31.214% 0.09285 291.75);
  --dark-violet-5: oklch(34.84% 0.0986 291.4);
  --dark-violet-6: oklch(38.965% 0.10206 291.82);
  --dark-violet-7: oklch(44.459% 0.11094 291.57);
  --dark-violet-8: oklch(51.629% 0.13057 290.2);
  --dark-violet-9: oklch(54.177% 0.17889 288.1);
  --dark-violet-10: oklch(58.821% 0.16951 289.68);
  --dark-violet-11: oklch(77.823% 0.13654 293.62);
  --dark-violet-12: oklch(91.156% 0.04521 292.61);
  --dark-violet-13: white;

  --dark-iris-1: oklch(19.277% 0.02163 284.19);
  --dark-iris-2: oklch(20.855% 0.02924 286.54);
  --dark-iris-3: oklch(27.285% 0.0686 278.58);
  --dark-iris-4: oklch(31.877% 0.10195 276.1);
  --dark-iris-5: oklch(35.807% 0.10929 277.41);
  --dark-iris-6: oklch(39.879% 0.11174 279.64);
  --dark-iris-7: oklch(44.799% 0.12008 280.78);
  --dark-iris-8: oklch(50.73% 0.13808 281.09);
  --dark-iris-9: oklch(54.031% 0.18392 278.3);
  --dark-iris-10: oklch(58.668% 0.17206 281.19);
  --dark-iris-11: oklch(77.571% 0.13108 286.56);
  --dark-iris-12: oklch(91.42% 0.04188 286.98);
  --dark-iris-13: white;

  --dark-indigo-1: oklch(19.066% 0.02472 276.72);
  --dark-indigo-2: oklch(20.883% 0.03019 275.95);
  --dark-indigo-3: oklch(27.217% 0.06931 267.84);
  --dark-indigo-4: oklch(31.899% 0.09322 267.04);
  --dark-indigo-5: oklch(36.178% 0.10452 267.5);
  --dark-indigo-6: oklch(40.374% 0.11057 268.34);
  --dark-indigo-7: oklch(45.029% 0.12024 268.8);
  --dark-indigo-8: oklch(50.267% 0.13722 268.41);
  --dark-indigo-9: oklch(54.362% 0.19117 267.08);
  --dark-indigo-10: oklch(58.992% 0.17569 269.19);
  --dark-indigo-11: oklch(77.723% 0.1233 273.28);
  --dark-indigo-12: oklch(91.103% 0.04279 269.99);
  --dark-indigo-13: white;

  --dark-blue-1: oklch(19.318% 0.02579 256.79);
  --dark-blue-2: oklch(21.299% 0.02951 258.84);
  --dark-blue-3: oklch(27.412% 0.06688 253.96);
  --dark-blue-4: oklch(31.697% 0.10019 248.3);
  --dark-blue-5: oklch(36.485% 0.10839 249.72);
  --dark-blue-6: oklch(41.606% 0.11246 251.66);
  --dark-blue-7: oklch(47.484% 0.12111 252.84);
  --dark-blue-8: oklch(54.129% 0.13959 253.21);
  --dark-blue-9: oklch(64.932% 0.19304 251.81);
  --dark-blue-10: oklch(68.901% 0.16967 251.46);
  --dark-blue-11: oklch(76.787% 0.13471 248.84);
  --dark-blue-12: oklch(90.721% 0.05115 238.27);
  --dark-blue-13: white;

  --dark-cyan-1: oklch(19.134% 0.01716 219.89);
  --dark-cyan-2: oklch(21.407% 0.01821 225.41);
  --dark-cyan-3: oklch(27.216% 0.04404 222.47);
  --dark-cyan-4: oklch(31.498% 0.06291 222.14);
  --dark-cyan-5: oklch(36.166% 0.07032 221.51);
  --dark-cyan-6: oklch(41.355% 0.07477 221.73);
  --dark-cyan-7: oklch(47.77% 0.08271 221.41);
  --dark-cyan-8: oklch(55.77% 0.09841 220.71);
  --dark-cyan-9: oklch(66.093% 0.12154 221.49);
  --dark-cyan-10: oklch(69.797% 0.11953 219.12);
  --dark-cyan-11: oklch(78.558% 0.11543 213.4);
  --dark-cyan-12: oklch(90.929% 0.05685 211.73);
  --dark-cyan-13: white;

  --dark-teal-1: oklch(18.889% 0.01227 184.5);
  --dark-teal-2: oklch(21.652% 0.01685 189.31);
  --dark-teal-3: oklch(27.374% 0.03779 186.35);
  --dark-teal-4: oklch(31.728% 0.05454 187);
  --dark-teal-5: oklch(36.25% 0.06004 186.52);
  --dark-teal-6: oklch(41.366% 0.06529 185.38);
  --dark-teal-7: oklch(47.315% 0.07388 184.55);
  --dark-teal-8: oklch(53.886% 0.08663 183.55);
  --dark-teal-9: oklch(64.881% 0.11345 182.01);
  --dark-teal-10: oklch(68.687% 0.1227 180.32);
  --dark-teal-11: oklch(78.882% 0.14691 175.66);
  --dark-teal-12: oklch(90.512% 0.07212 175.26);
  --dark-teal-13: white;

  --dark-jade-1: oklch(18.796% 0.01398 166.3);
  --dark-jade-2: oklch(21.581% 0.01796 166.11);
  --dark-jade-3: oklch(27.237% 0.0422 166.82);
  --dark-jade-4: oklch(31.637% 0.05746 168.02);
  --dark-jade-5: oklch(36.182% 0.0643 168.52);
  --dark-jade-6: oklch(41.082% 0.06828 169.69);
  --dark-jade-7: oklch(46.848% 0.07526 170.64);
  --dark-jade-8: oklch(53.69% 0.08792 171.8);
  --dark-jade-9: oklch(64.206% 0.115 170.85);
  --dark-jade-10: oklch(67.764% 0.12523 169.87);
  --dark-jade-11: oklch(78.535% 0.15614 167.1);
  --dark-jade-12: oklch(90.267% 0.07759 166.98);
  --dark-jade-13: white;

  --dark-green-1: oklch(18.878% 0.01271 163.27);
  --dark-green-2: oklch(21.267% 0.01601 162.22);
  --dark-green-3: oklch(27.141% 0.03881 162.67);
  --dark-green-4: oklch(31.822% 0.05731 161.54);
  --dark-green-5: oklch(36.485% 0.066 161.11);
  --dark-green-6: oklch(41.335% 0.07323 160.73);
  --dark-green-7: oklch(46.737% 0.08284 159.91);
  --dark-green-8: oklch(52.746% 0.09618 159.19);
  --dark-green-9: oklch(64.049% 0.13274 157.75);
  --dark-green-10: oklch(67.552% 0.14123 157.56);
  --dark-green-11: oklch(77.968% 0.16569 157.23);
  --dark-green-12: oklch(90.481% 0.08276 158.28);
  --dark-green-13: white;

  --dark-grass-1: oklch(18.835% 0.0141 155.81);
  --dark-grass-2: oklch(21.104% 0.01411 151.48);
  --dark-grass-3: oklch(26.713% 0.02999 150.73);
  --dark-grass-4: oklch(31.908% 0.05222 150.41);
  --dark-grass-5: oklch(36.678% 0.06192 149.91);
  --dark-grass-6: oklch(41.636% 0.07208 149.34);
  --dark-grass-7: oklch(46.827% 0.08351 148.89);
  --dark-grass-8: oklch(52.383% 0.09726 148.25);
  --dark-grass-9: oklch(65.158% 0.14685 147.37);
  --dark-grass-10: oklch(68.978% 0.14536 147.64);
  --dark-grass-11: oklch(77.981% 0.14204 148.46);
  --dark-grass-12: oklch(91.096% 0.07797 144.91);
  --dark-grass-13: white;

  --dark-brown-1: oklch(17.846% 0.00496 81.547);
  --dark-brown-2: oklch(21.31% 0.00746 51.619);
  --dark-brown-3: oklch(25.358% 0.0128 53.478);
  --dark-brown-4: oklch(28.835% 0.01818 55.42);
  --dark-brown-5: oklch(32.473% 0.02429 55.879);
  --dark-brown-6: oklch(37.02% 0.03175 57.687);
  --dark-brown-7: oklch(42.897% 0.04093 59.835);
  --dark-brown-8: oklch(50.857% 0.05347 62.168);
  --dark-brown-9: oklch(63.268% 0.07843 60.775);
  --dark-brown-10: oklch(67.44% 0.07494 61.481);
  --dark-brown-11: oklch(79.824% 0.06277 62.509);
  --dark-brown-12: oklch(91.761% 0.03596 75.667);
  --dark-brown-13: white;

  --dark-bronze-1: oklch(18.064% 0.00527 41.551);
  --dark-bronze-2: oklch(21.474% 0.00504 41.544);
  --dark-bronze-3: oklch(25.451% 0.00814 42.652);
  --dark-bronze-4: oklch(29.114% 0.01023 45.497);
  --dark-bronze-5: oklch(32.936% 0.01281 43.306);
  --dark-bronze-6: oklch(37.439% 0.01603 44.264);
  --dark-bronze-7: oklch(42.986% 0.01995 44.84);
  --dark-bronze-8: oklch(49.855% 0.02447 45.169);
  --dark-bronze-9: oklch(62.746% 0.04601 44.292);
  --dark-bronze-10: oklch(66.867% 0.04525 44.286);
  --dark-bronze-11: oklch(79.185% 0.04295 44.501);
  --dark-bronze-12: oklch(91.509% 0.01737 50.301);
  --dark-bronze-13: white;

  --dark-gold-1: oklch(18.221% 0.00225 106.62);
  --dark-gold-2: oklch(21.648% 0.00608 92.491);
  --dark-gold-3: oklch(25.489% 0.00758 88.28);
  --dark-gold-4: oklch(29.078% 0.0095 86.759);
  --dark-gold-5: oklch(32.889% 0.01149 83.663);
  --dark-gold-6: oklch(37.362% 0.01378 82.433);
  --dark-gold-7: oklch(42.945% 0.01646 80.92);
  --dark-gold-8: oklch(49.83% 0.02042 79.496);
  --dark-gold-9: oklch(62.058% 0.04928 78.132);
  --dark-gold-10: oklch(66.22% 0.04726 77.182);
  --dark-gold-11: oklch(79.402% 0.04102 77.181);
  --dark-gold-12: oklch(91.508% 0.01368 77.441);
  --dark-gold-13: white;

  --dark-sky-1: oklch(18.978% 0.02398 257.09);
  --dark-sky-2: oklch(21.613% 0.02892 258.45);
  --dark-sky-3: oklch(27.111% 0.05388 251.88);
  --dark-sky-4: oklch(32.217% 0.06956 247.75);
  --dark-sky-5: oklch(37.25% 0.07906 245.75);
  --dark-sky-6: oklch(42.688% 0.08735 243.56);
  --dark-sky-7: oklch(48.804% 0.09807 240.69);
  --dark-sky-8: oklch(55.738% 0.11426 237.22);
  --dark-sky-9: oklch(86.137% 0.10269 217.81);
  --dark-sky-10: oklch(90.809% 0.07301 214.92);
  --dark-sky-11: oklch(79.258% 0.09863 231.67);
  --dark-sky-12: oklch(93.371% 0.05259 214.37);
  --dark-sky-13: black;

  --dark-mint-1: oklch(18.838% 0.01155 192.27);
  --dark-mint-2: oklch(21.012% 0.01724 196.61);
  --dark-mint-3: oklch(26.87% 0.03896 192.53);
  --dark-mint-4: oklch(31.347% 0.05798 191.65);
  --dark-mint-5: oklch(35.937% 0.06339 188.94);
  --dark-mint-6: oklch(41.043% 0.06651 186.27);
  --dark-mint-7: oklch(47.089% 0.0728 183.35);
  --dark-mint-8: oklch(54.011% 0.08502 179.56);
  --dark-mint-9: oklch(86.962% 0.09985 177.97);
  --dark-mint-10: oklch(91.616% 0.07962 179.36);
  --dark-mint-11: oklch(79.547% 0.11845 176.38);
  --dark-mint-12: oklch(93.049% 0.05689 168.49);
  --dark-mint-13: black;

  --dark-lime-1: oklch(18.042% 0.01439 120.26);
  --dark-lime-2: oklch(20.799% 0.01935 128.97);
  --dark-lime-3: oklch(26.617% 0.03432 132.18);
  --dark-lime-4: oklch(31.651% 0.04695 131.83);
  --dark-lime-5: oklch(36.339% 0.05788 131.64);
  --dark-lime-6: oklch(41.158% 0.06861 131.4);
  --dark-lime-7: oklch(46.438% 0.08004 131.16);
  --dark-lime-8: oklch(52.432% 0.09451 130.86);
  --dark-lime-9: oklch(88.754% 0.17491 126.09);
  --dark-lime-10: oklch(94.179% 0.17542 123.73);
  --dark-lime-11: oklch(86.777% 0.15571 124.78);
  --dark-lime-12: oklch(94.644% 0.08191 122.62);
  --dark-lime-13: black;

  --dark-yellow-1: oklch(18.115% 0.01299 86.01);
  --dark-yellow-2: oklch(20.881% 0.01702 92.088);
  --dark-yellow-3: oklch(25.902% 0.04664 90.289);
  --dark-yellow-4: oklch(29.264% 0.06937 94.199);
  --dark-yellow-5: oklch(33.335% 0.07908 94.59);
  --dark-yellow-6: oklch(38.43% 0.0774 93.305);
  --dark-yellow-7: oklch(45.156% 0.08089 91.504);
  --dark-yellow-8: oklch(53.487% 0.09507 89.927);
  --dark-yellow-9: oklch(92.658% 0.2086 102.14);
  --dark-yellow-10: oklch(97.107% 0.18215 109.36);
  --dark-yellow-11: oklch(90.018% 0.1664 101.64);
  --dark-yellow-12: oklch(94.131% 0.07467 101.04);
  --dark-yellow-13: black;

  --dark-amber-1: oklch(18.356% 0.01265 77.268);
  --dark-amber-2: oklch(21.168% 0.01795 78.676);
  --dark-amber-3: oklch(25.751% 0.04373 74.558);
  --dark-amber-4: oklch(29.621% 0.07146 76.248);
  --dark-amber-5: oklch(33.687% 0.08122 76.413);
  --dark-amber-6: oklch(38.707% 0.07844 75.091);
  --dark-amber-7: oklch(45.317% 0.08173 74.549);
  --dark-amber-8: oklch(53.603% 0.09641 73.574);
  --dark-amber-9: oklch(85.623% 0.17784 81.37);
  --dark-amber-10: oklch(90.153% 0.20649 96.982);
  --dark-amber-11: oklch(87.061% 0.17536 85.068);
  --dark-amber-12: oklch(93.493% 0.07153 85.989);
  --dark-amber-13: black;

  --dark-orange-1: oklch(18.643% 0.01191 53.747);
  --dark-orange-2: oklch(20.883% 0.01918 67.381);
  --dark-orange-3: oklch(25.745% 0.04525 59.543);
  --dark-orange-4: oklch(29.329% 0.07964 58.647);
  --dark-orange-5: oklch(33.455% 0.0868 58.089);
  --dark-orange-6: oklch(38.629% 0.08689 55.153);
  --dark-orange-7: oklch(45.335% 0.09472 53.057);
  --dark-orange-8: oklch(54.05% 0.11618 49.748);
  --dark-orange-9: oklch(68.902% 0.19108 44.802);
  --dark-orange-10: oklch(74.135% 0.1991 46.323);
  --dark-orange-11: oklch(79.898% 0.16312 50.766);
  --dark-orange-12: oklch(92.484% 0.05241 66.22);
  --dark-orange-13: white;
}
