/* 
This file offers spacing sizes used for margins, padding, gaps and similar effects.
*/

:where(html) {
  /* Pixel sizes scale */
  --space-0-25: 2px;
  --space-0-5: 4px;
  --space-1: 8px;
  --space-1-5: 12px;
  --space-2: 16px;
  --space-2-5: 20px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-8: 64px;
  --space-12: 96px;
}
