.root {
  position: relative;
  display: flex;
  touch-action: none;
  user-select: none;
  align-items: center;
}

.track {
  position: relative;
  height: var(--size-1);
  flex-grow: 1;
  overflow: hidden;
  border-radius: var(--radius-round);
  background: var(--color-base-bg);
  box-shadow: 0 0 0 1px var(--color-base-border);
}

.range {
  position: absolute;
  height: 100%;
  background: var(--color-accent-border);
}

.thumb {
  display: block;
  aspect-ratio: 1;
  width: var(--size-2-5);
  border-radius: var(--radius-round);
  background: var(--color-pop-bg);
  cursor: grab;
}

.thumb:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent-border-subtle);
}

.thumb[data-disabled] {
  cursor: not-allowed;
}
