.subTrigger {
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: var(--radius-1);
  padding: var(--size-1) var(--size-2);
  font-size: var(--font-size-2);
  outline: none;
}

.subTrigger:focus,
.subTrigger[data-state="open"] {
  background: var(--color-surface-3);
  color: var(--color-text-1);
}

.inset {
  padding-left: var(--size-8);
}

.chevron {
  margin-left: auto;
  height: var(--size-4);
  width: var(--size-4);
}

.content {
  z-index: var(--layer-5);
  min-width: 8rem;
  overflow: hidden;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--color-surface-3);
  background: var(--color-surface-1);
  padding: var(--size-1);
  color: var(--color-text-1);
  box-shadow: var(--shadow-3);
}

.content[data-state="open"] {
  animation: var(--animation-fade-in), var(--animation-scale-up);
}

.content[data-state="closed"] {
  animation: var(--animation-fade-out), var(--animation-scale-down);
}

.item {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: var(--radius-1);
  padding: var(--size-1) var(--size-2);
  font-size: var(--font-size-2);
  outline: none;
}

.item:focus {
  background: var(--color-surface-3);
  color: var(--color-text-1);
}

.item[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.checkbox {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: var(--radius-1);
  padding: var(--size-1) var(--size-2);
  padding-left: var(--size-8);
  font-size: var(--font-size-2);
  outline: none;
}

.indicator {
  position: absolute;
  left: var(--size-2);
  display: flex;
  height: var(--size-3);
  width: var(--size-3);
  align-items: center;
  justify-content: center;
}

.icon {
  height: var(--size-4);
  width: var(--size-4);
}

.circleIcon {
  height: var(--size-2);
  width: var(--size-2);
  fill: currentColor;
}

.label {
  padding: var(--size-1) var(--size-2);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
  color: var(--color-text-1);
}

.separator {
  margin: var(--size-1) calc(var(--size-1) * -1);
  height: var(--border-size-1);
  background: var(--color-surface-3);
}

.shortcut {
  margin-left: auto;
  font-size: var(--font-size-0);
  letter-spacing: var(--font-letterspacing-4);
  color: var(--color-text-2);
}
