.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--layer-5);
  background: color-mix(in srgb, var(--surface-1) 80%, transparent);
}

.overlay[data-state="open"] {
  animation: var(--animation-fade-in);
}

.overlay[data-state="closed"] {
  animation: var(--animation-fade-out);
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: var(--layer-5);
  display: grid;
  width: 100%;
  max-width: 32rem;
  transform: translate(-50%, -50%);
  gap: var(--size-4);
  border: var(--border-size-1) solid var(--surface-3);
  background: var(--surface-1);
  padding: var(--size-6);
  box-shadow: var(--shadow-4);
  transition: all 200ms var(--ease-3);
}

.content[data-state="open"] {
  animation: contentShow 200ms var(--ease-3);
}

.content[data-state="closed"] {
  animation: contentHide 200ms var(--ease-3);
}

@media (min-width: 640px) {
  .content {
    border-radius: var(--radius-3);
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  text-align: center;
}

@media (min-width: 640px) {
  .header {
    text-align: left;
  }
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-2);
}

@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.title {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
  color: var(--text-1);
}

.description {
  font-size: var(--font-size-2);
  color: var(--text-2);
}

.cancel {
  margin-top: var(--size-2);
}

@media (min-width: 640px) {
  .cancel {
    margin-top: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
