.root {
  position: relative;
}

.viewport {
  height: 100%;
}

.scrollbar {
  display: flex;
  touch-action: none;
  user-select: none;
  transition: colors 200ms var(--ease-3);
}

.scrollbarVertical {
  height: 100%;
  width: var(--size-2);
  border-left: var(--border-size-1) solid var(--color-base-border-subtle);
  padding: 3px;
}

.scrollbarHorizontal {
  height: var(--size-2);
  flex-direction: column;
  border-top: var(--border-size-1) solid var(--color-base-border-subtle);
  padding: var(--space-0-25);
}

.thumb {
  flex: 1;
  border-radius: var(--radius-round);
  background: var(--color-base-bg-hover);
}
