.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--layer-5);
  background: color-mix(in srgb, var(--color-base-bg-app) 80%, transparent);
}

.overlay[data-state="open"] {
  animation: var(--animation-fade-in);
}

.overlay[data-state="closed"] {
  animation: var(--animation-fade-out);
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: var(--layer-5);
  display: grid;
  transform: translate(-50%, -50%);
  gap: var(--space-2);
  border: var(--border-size-1) solid var(--color-base-border-subtle);
  background: var(--color-base-bg);
  color: var(--color-base-text);
  padding: var(--space-4);
  box-shadow: var(--shadow-4);
  transition: all 200ms var(--ease-3);
  border-radius: var(--radius-3);
}

.content[data-state="open"] {
  animation: contentShow 200ms var(--ease-3);
}

.content[data-state="closed"] {
  animation: contentHide 200ms var(--ease-3);
}

.closeButton {
  display: flex;
  position: absolute;
  right: var(--size-4);
  top: var(--size-4);
  border-radius: var(--radius-1);
  background-color: transparent;
  color: var(--color-base-text-subtle);
}

.closeButton:hover {
  background-color: var(--color-base-bg-hover);
  color: var(--color-base-text);
}

.closeButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-base-border-subtle);
}

.closeButton:disabled {
  pointer-events: none;
}

.closeIcon {
  aspect-ratio: 1;
  width: var(--size-2-5);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  text-align: center;
  text-align: left;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: var(--space-0-5);
}

.title {
}

.description {
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
