.nav {
  margin-inline: auto;
}

.list {
  display: flex;
  gap: var(--space-1);
  padding: 0;
}

.item {
  display: flex;
  height: var(--size-4);
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-2);
  transition: all 200ms var(--ease-3);
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-base-border-subtle);
}

.page {
}

.page:hover {
  background: var(--color-accent-bg-hover);
  color: var(--color-accent-text-strong);
}

.pageActive {
  border: var(--border-size-1) solid var(--color-accent-border);
  background-color: var(--color-pop-bg);
  color: var(--color-pop-text);
}

.pageActive:hover {
  background: var(--color-accent-bg-hover);
}

.linkIcon {
  width: var(--size-4);
}

.directionLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-2);
  font-weight: var(--font-weight-5);
  height: var(--size-4);
  padding-inline: var(--space-2);
  transition: all 200ms var(--ease-3);
  gap: var(--space-0-5);
}

.directionLink:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-base-border-subtle);
}

.previous {
  padding-left: var(--space-2);
}

.next {
  padding-right: var(--space-2);
}

.icon {
  aspect-ratio: 1;
  width: var(--size-2-5);
}

.ellipsis {
  display: flex;
  aspect-ratio: 1;
  width: var(--size-2-5);
  align-items: center;
  justify-content: center;
}
