.subTrigger {
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  gap: var(--space-1-5);
  border-radius: var(--radius-1);
  padding: var(--space-1) var(--space-2);
  outline: none;
}

.subTrigger:focus,
.subTrigger[data-state="open"] {
  background: var(--color-base-bg-hover);
  color: var(--color-base-text-strong);
}

.subTrigger svg {
  pointer-events: none;
  aspect-ratio: 1;
  width: var(--size-2-5);
  flex-shrink: 0;
}

.content {
  z-index: var(--layer-5);
  border-radius: var(--radius-2);
  padding: var(--size-1);
  box-shadow: var(--shadow-3);
  border: var(--border-size-1) solid var(--color-base-border-subtle);
  background: var(--color-base-bg);
  color: var(--color-base-text);
}

.content[data-state="open"] {
  animation: contentShow 150ms var(--ease-3);
}

.content[data-state="closed"] {
  animation: contentHide 150ms var(--ease-3);
}

.item {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  gap: var(--space-1-5);
  border-radius: var(--radius-1);
  padding: var(--space-1) var(--space-2);
  outline: none;
  transition: colors 150ms var(--ease-3);
}

.item:focus {
  background-color: var(--color-base-bg-hover);
  color: var(--color-base-text-strong);
}

.item[data-disabled] {
  pointer-events: none;
  color: var(--color-base-text-muted);
}

.item svg {
  pointer-events: none;
  aspect-ratio: 1;
  width: var(--size-2-5);
  flex-shrink: 0;
}

.checkbox {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: var(--radius-1);
  padding: var(--space-1) var(--space-2);
  padding-left: var(--space-8);
  outline: none;
  transition: colors 150ms var(--ease-3);
}

.checkbox:hover {
  background-color: var(--color-base-bg-hover);
  color: var(--color-base-text-strong);
}

.checkbox[data-state="checked"] {
  color: var(--color-base-text-strong);
}

.indicator {
  position: absolute;
  left: var(--size-2);
  display: flex;
  height: var(--size-3);
  width: var(--size-3);
  align-items: center;
  justify-content: center;
}

.icon {
  aspect-ratio: 1;
  width: var(--size-2-5);
}

.circleIcon {
  aspect-ratio: 1;
  width: var(--size-1-5);
  fill: currentColor;
}

.label {
  padding: var(--space-1) var(--space-2);
}

.separator {
  margin: var(--space-1);
  height: var(--border-size-1);
  background: var(--color-base-border-subtle);
}

.shortcut {
  margin-left: auto;
  font-size: var(--font-size-0);
  letter-spacing: var(--font-letterspacing-4);
  color: var(--color-base-text-subtle);
}

.inset {
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
